.wrapper-recommend
  padding 36px
  .preview
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    .cover
      width 120px
      height 177px
      .img
        width 100%
        height 100%
    .title
      margin-top 24px
      color #3b3b41
      font-size 22px
    .author
      margin-top 12px
      color #5d5d5d
      font-size 16px
  .input-wrap
    margin-top 48px
    .lable
      font-size 16px
      color #4d4f4e
    .input-bar
      position relative
      .input
        padding-right 40px
        height 38px
        border-radius 6px 
        box-shadow inset 1px 1px 4px 0px rgba(0, 0, 0, 0.13)
        background-color #ffffff
        border 1px solid #dfdfdf
      .iconfont
        position absolute
        right 10px
        top 50%
        font-size 20px
        color #82c89b
        transform translateY(-50%)
  .btn-wrap
    margin-top 48px
    padding 0 10px
    display flex
    justify-content space-between
    .btn
      width 120px
      height 40px
      border-radius 6px
      border 1px solid #e2e2e2
      box-shadow 0px 0px 6px 0px rgba(0, 0, 0, 0.07)
      font-size 16px
      line-height 40px
      text-align center
      letter-spacing 3px
    .btn-search
      background #fbfbff
      color #696a69
    .btn-recommend 
      background #82c89b
      color #f4f9f6
  .tips
    margin-top 24px
    color #c7c7c7
    font-size 16px
    text-decoration underline
    text-align center
